body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px;
}

h1 {
    font-size: 50px; 
    color: #00ff87;
    letter-spacing: 10px;
}

h2 {
    color: #00ff87;
    font-size: 50px;
    letter-spacing: 10px;
}

.img-1 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    animation: julian 0.5s linear infinite ;
}

.img-2{
    width: 350px;
    height: 300px;
    background-size: cover;
    border-radius: 10px;
 
}



.contenido {
    display: flex;
    align-items: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px;
}



.img-1:hover {
    filter: brightness(0.5) saturate(0.5) contrast(1.2) blur(2px);
    transition: filter 200ms linear, transform 200ms linear;
}

.img-2:hover {
    /* transform: rotate(45deg);
    transition: transform 0.3s ease; */
    transform: skewX(-23deg);
   
} 